.main {
  padding-top: 170px;
  padding-bottom: 225px;
  position: relative;
}
.main__welcome {
  color: #fff;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.main__title {
  color: #fff;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  text-transform: capitalize;
  margin-bottom: 31px;
  max-width: 718px;
  position: relative;
  z-index: 99;
}

.main-span1 {
  font-family: "LXGW WenKai TC";
  font-weight: 700;
}

.main-span2 {
  color: #fe461c;
}

.main__svg1 {
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  top: 12%;
  left: 1%;
  animation: svg 4s infinite;
  animation-direction: alternate;
}
.main__svg2 {
  position: absolute;
  top: -4%;
  left: 55%;
  animation: sot 5s infinite;
  animation-direction: alternate;
}

.vscode {
  max-width: 80px;
  max-height: 80px;
  flex-shrink: 0;
  position: absolute;
  top: 13%;
  left: 86%;
  animation: fn 7s infinite;
  animation-direction: alternate;
}

@keyframes svg {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(4, 8);
  }
  50% {
    transform: translate(-10px, -22px);
  }
  75% {
    transform: translate(8px, 21px);
  }
}

@keyframes sot {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3, 7);
  }
  50% {
    transform: translate(-6px, -24px);
  }
  100% {
    transform: translate(9px, 23px);
  }
}

@keyframes fn {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2, 5);
  }
  50% {
    transform: translate(-9px, -22px);
  }
  100% {
    transform: translate(4px, 15px);
  }
}

.main__link {
  border-radius: 7px;
  background: #fe461c;
  padding: 15px 45px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .main__a:hover {
    background: #ffffffb3;
  }
}

@media (max-width: 900px) {
  .main {
    padding-bottom: 150px;
  }
  .main__svg2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .main__text {
    text-align: center;
  }
}

@media (max-width: 512px){
 .main__title{
  font-size: 50px;
  line-height: 55px;
 }
}
