* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1f2235;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 42px 50px;
  margin: 0 auto;
}

.header__wrapper {
  padding-top: 10px;
}

.header__home {
  color: #fe461c;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}
.header__about,
.header__resume,
.header__contacts {
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  padding-left: 70px;
  cursor: pointer;
  text-decoration: none;
}
#logo {
  text-decoration: none;
  color: #fe461c;
  font-size: 30px;
  font-family: Outfit;
  cursor: pointer;
}

.main {
  margin-left: 140px;
  margin-top: 250px;
  padding-bottom: 225px;
}
.main span {
  color: #fff;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.main__h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  text-transform: capitalize;
  margin-bottom: 16px;
  width: 700px;
}

.main__svg1 {
  position: absolute;
  top: 35%;
  left: 3%;
}
.main__svg2 {
  position: absolute;
  top: 25%;
  left: 57%;
}
.main button {
  border-radius: 7px;
  background: #fe461c;
  width: 160px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

.about {
  background: #24263b;
  padding-bottom: 30px;
}
.about__wrapper {
  display: flex;
  padding-top: 160px;
  margin: auto;
  margin-left: 200px;
  gap: 60px;
}
.about span,.skills__span {
  padding: 12px 14px;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  border-radius: 4px;
  background: #24263b;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
}
.about h2 {
  color: #fff;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 15px;
  margin-top: 17px;
}
.about p {
  color: #fff;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  width: 525px;
  margin-bottom: 20px;
}
.about button {
  border-radius: 4px;
  background: #fe461c;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  padding: 15px 19px;
  border: none;
  cursor: pointer;
}
.skills{
  display: flex;
  padding-top: 120px;
  padding-left: 200px;
}
.skills h3{
  color: #FFF;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}
.skill{
  color: #FFF;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25px;
}
.skill__wrapper{
  display: flex;
  justify-content: space-between;
}
.skills h3{
  margin-top: 25px;
  margin-bottom: 46px;
}
.img__90{
  padding-bottom: 70px;
}
.skills__wrapp{
  margin-top: 70px;
}